<app-header></app-header>
<div class="container">
    <div class="head-info-film">
        <!-- <div class="event">
            <label class="event-footer">Мериприятие и Время</label>
            <div *ngFor="let t of model.timetable">
                <ul *ngIf="t.time == time">
                    <li>Название фильма: {{t.film.name}}</li>
                    <li>Время:  {{t.time}}</li>
                </ul>
            </div>
        </div>
        <div class="place-hall">
            <label class="event-footer">Количество мест в зале</label>
            <div *ngFor="let t of model.timetable">
                <ul *ngIf="t.time == time">
                    <li>Количество мест: {{t.hall.vacancy}}</li>
                </ul>
            </div>
        </div>
        <div class="buy-view-head">
            <label class="event-footer">Стоимость билета</label>
            <div *ngFor="let t of model.timetable">
                <ul *ngIf="t.time == time">
                    <li>Стоимость: {{price_of_ticket}} бел.р</li>
                </ul>
            </div>
            <button class="btn btn-default" (click)="submit()">ОПЛАТИТЬ</button>
        </div> -->
    </div>
    <div class="right-side">
        <div class="form-group">
            <label>Введите количество мест:</label>
            <input class="form-control" type="number" min="1" value="1" name="busy_input" [(ngModel)]="busy_input"/>
            <button class="btn btn-default" (click)="submit()">ОПЛАТИТЬ</button>
        </div>
    </div>
    <!-- <div class="left-side">
        <div class="check-info" *ngIf="done">
            <label>Чек</label>
            <div class="info" *ngFor="let t of model.timetable">
                <ul *ngIf="t.time == time">
                        <li>Кинотеатр: {{model.nameCinema}}</li>
                        <li>Фильм: {{t.film.name}}</li>
                        <li>Время: {{t.time}}</li>
                        <li>Количество месть: {{busy_input}}</li>
                        <li>Стоимость: {{price_of_ticket}}</li>
                </ul>
            </div>
        </div>
    </div> -->
</div>