.container{
    width: 1100px;
    height: 700px;
    background-color: green;
    margin-left: 9.3%;
    .head-info-film{
        display: flex;
        float: left;
        width: 1098px;
        // height: 100px;
        border: 2px solid black;
        text-align: center;
        ul{
            padding: 0;
        }
        .event-footer{
            margin-bottom: 5px;
            border-bottom: 1px solid black;
        }
        .event{
            width: 400px;
        }
        .place-hall{
            width: 300px;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
        .buy-view-head{
            width: 400px;

        }
    }
    .right-side{
        display: flex;
        float: left;
        width: 550px;
        height: 600px;
        background-color: darkgray;
    }
    .left-side{
        float: left;
        width: 550px;
        height: 600px;
        background-color: seagreen;
    }
}