.form-group{
    text-align: center;
    margin-top: 16%;
    .form-control{
        margin-bottom: 10px;
        text-align: justify;
        margin-left: 39%;
    }
    button{
        margin-top: 20px;
    }
}