<app-header></app-header>
<div class="form-group">
    <div class="form-control">
        <label>Название фильма</label>
        <input type="text" [(ngModel)]="modelTimetable.film.name" />
    </div>
    <div class="form-control">
        <label>Время</label>
        <input type="time" [(ngModel)]="modelTimetable.time" />
    </div>
    <div class="form-control">
        <label>Дата</label>
        <input type="date" [(ngModel)]="modelTimetable.date" />
    </div>
    <div class="form-control">
        <label>Длительность</label>
        <input type="text" [(ngModel)]="modelTimetable.film.long" />
    </div>
    <div class="form-control">
        <label>Описание</label>
        <input type="text" [(ngModel)]="modelTimetable.film.about" />
    </div>
    <div class="form-control">
        <label>Зал</label>
        <select [(ngModel)]="selectedValue">
            <option *ngFor="let item of modelCinema.hall" value="{{item.nameHall}}">{{item.nameHall}}</option>
        </select>
    </div>
    <button routerLink="/view-cinema" (click)="submit()">Добавить</button>
</div>