<app-header></app-header>
<div class="conteiner">
    <div class="left-side">
        <div class="info-view">
            <img src="../../assets/img/cinema.jfif" alt="logo">
        </div>
        <div class="info-block">
            <ul>
                <li>Место расположения {{model.adress}}</li>
                <li>Название кинотеатра {{model.nameCinema}}</li>
                <li>Телефон для справок {{model.number}}</li>
            </ul>
        </div>
    </div>
    <div class="right-side">
        <div class="choose-date">
            <div class="top-name"><h1>Кинотеатр {{model.nameCinema}}</h1></div>
            <div class="calendar">
                <ul class="week">
                    <li *ngFor="let item of daysRender " (click)="onClickDayBtn(item.date)">
                      <div *ngIf="current == item.date; else elseBlock" >
                            {{item.date}}
                            <button style="background: #63795d">
                                {{item.day}}
                            </button>
                      </div>
                      <ng-template #elseBlock>
                          {{item.date}}
                          <button>{{item.day}}</button>
                      </ng-template>
                    </li>
                </ul>
            </div>
        </div>
        <div class="timetable">
            <div class="timetable-film">
                <ul>
                    <li *ngFor="let t of films">
                      {{t.film.name}}
                    </li>
                </ul>
                <ul>
                    <li *ngFor="let t of films">{{t.time}}
                        <button [routerLink] = "['/buy-ticket', t.time ]">buy</button>
                    </li>
                </ul>
            </div>
            <div *ngIf='flag'>
                <button routerLink="/add-film">Добавить</button>
            </div>
        </div>
        <div class="about-cinema">
            {{model.aboutCinema}}
        </div>
    </div>
</div>
<router-outlet></router-outlet>
