<app-header></app-header>
<div>
    <div *ngFor="let item of tickets "  id="content" #content>
        <h1>Билет</h1>
        <div class="ticket">
          <div class="table-primary">
            <tr>
              <th>Кинотеатр</th>
              <th>Название фильма</th>
              <th>Дата</th>
              <th>Время</th>
              <th>Стоимость</th>
              <th>Зал</th>
              <th>Количество</th>
            </tr>
          </div>
          <div class="table-content">
            <tr>
              <td>Викинг</td>
              <td>{{item.filmname}}</td>
              <td>{{item.datefilm}}</td>
              <td>{{item.timefilm}}</td>
              <td>{{item.cost}}</td>
              <td>{{item.hallname}}</td>
              <td>{{item.number_of_tickets}}</td>
            </tr>
          </div>
        </div>
    </div>
</div>