<div>
    <div class="form-group">
        <label>Введите Email:</label>
        <input class="form-control" type="text" name="Email" [(ngModel)]="Email"/>
        <label>Введите Nickname:</label>
        <input class="form-control" type="text" name="Nickname" [(ngModel)]="Nickname"/>
        <label>Введите Password:</label>
        <input class="form-control" type="text" name="Password" [(ngModel)]="Password"/>
        <label>Введите Key:</label>
        <input class="form-control" type="text" name="Key" [(ngModel)]="Key"/>
    </div>
</div>